# --- The Void GitIgnore ---

# Build Artifacts (Global)
**/target/
**/*.rs.bk
**/*.o
**/*.bc
**/*.rmeta
**/*.bin
**/*.d
**/*.pdb
**/*.rlib
**/*.exe
**/*.so
**/*.a
**/*.dll

# Makepad Specific Debris
**/cargo_makepad/android_33_windows_x64/
**/cargo_makepad/android_33_linux_x64/
**/cargo_makepad/ndk/
**/cargo_makepad/sdk/
**/makepad-widgets/target/

# Data & Secrets
/data/
.env
*.elf

# IDE & OS Junk
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
.DS_Store

.github/instructions/instructions.instructions.md
.github/skills/skillset/SKILL.md
