# Build artifacts
/target/
**/*.rs.bk

# IDE
.vscode/settings.json
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# SurrealDB local data
/data/

# Android build
*.apk
*.aab

/target
**/*.log
.env
*.elf
patches/makepad-widgets/.git